<div class="post-container">

  <% @shits.order('created_at DESC').each do |shit| %>

    <div class="post" id="<%= shit.id %>">

      <pre><%= shit.content %></pre>

      <div class="info">

        <a href="/users/<%= shit.user_id %>" class="info-item"><%= shit.user.username %></a>

        <% if @current_user.present? %>

          <% if @likes.where(user_id: @current_user.id, shit_id: shit.id).any? == true %>

            <%= link_to "♥ #{ @likes.where(shit_id: shit.id).count }", root_path(:user_id => @current_user.id, :shit_id => shit.id), :id => "liked", :method => 'delete' %>

          <% else %>

            <p>
              <%= form_for @like_new do |f| %>
                <%= f.hidden_field :shit_id, value: shit.id %>
                <%= f.hidden_field :user_id, value: @current_user.id %>
                <%= f.submit "♡ #{@likes.where(shit_id: shit.id).count}", :id => "like" %>
              <% end %>
            </p>

          <% end %>

        <% else %>

          <%= link_to "♡ #{@likes.where(shit_id: shit.id).count}", login_path, :id => "like" %>

        <% end %>

        <a href="/shits/<%= shit.id %>" id="comment-shit" class="info-item">comments <%= "[#{@comments.where(shit_id: shit.id).count}]" if @comments.where(shit_id: shit.id).count != 0 %></a>

        <div class="tooltip">
          <%= link_to "", root_path(:id => shit.id), :class => 'far fa-copy', :id => 'clipboard', :method => 'clipboard' %><span class="tooltiptext">Copy to clipboard</span>
        </div>

      </div>

    </div>

  <% end %>

</div>
