<!DOCTYPE html>
<html>
  <head>

    <title>ASCII Hunt (o˘◡˘o)</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= cloudinary_js_config %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" async />

    <%= favicon_link_tag asset_path('favicon.png') %>

    <meta property="og:title" content="ASCII Hunt (o˘◡˘o)" />
    <meta property="og:description" content="Create your own ASCII Masterpiece by uploading an image and watch it come to life in ASCII! (o˘◡˘o)" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://asciihunt.indiealistic.studio/" />
    <%= tag :meta, property: 'og:image', content: image_url('asciihunt-og.png') %>

  </head>

  <body>

    <nav>

      <ul>

        <li><%= link_to 'ASCII Hunt', root_path, :class => 'title' %></li>
        <li><%= link_to 'feed', root_path, :class => 'nav-item' %></li>
        <li><%= link_to 'stats', 'https://simpleanalytics.com/asciihunt.indiealistic.studio', :target => '_blank' %></li>
        <% if @current_user.present? %>
          <li><a href="/users/<%= @current_user.id %>"><%= "view profile" %></a></li>
          <% if @current_user.admin? %>
            <li><%= link_to 'users (admin only)', users_path %></li>
          <% end %>
          <li><%= link_to "log out", login_path, :class => 'nav-item', :method => 'delete' %></li>
          <li><%= link_to "create shit!", new_shit_path, :class => 'create-shit' %></li>
        <% else %>
          <li><%= link_to 'sign up', new_user_path %></li>
          <li><%= link_to 'login', login_path %></li>
          <li><%= link_to "create shit!", login_path, :class => 'create-shit' %></li>
        <% end %>

      </ul>

    </nav>

    <div class="main-container">

      <%= yield %>

    </div>

    <div class="credits">brought to you in <%= Date.current.year %> by <a href="https://indiealistic.studio" target="_blank">indiealistic</a>. made possible with <a href="https://cloudinary.com" target="_blank">Cloudinary</a> and <a href="https://heroku.com" target="_blank">Heroku</a>.</div>

    <script async defer src="https://sa.indiealistic.studio/latest.js"></script>
    <noscript><img src="https://sa.indiealistic.studio/noscript.gif" alt=""/></noscript>
  </body>
</html>
